@model VehicleOutput

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="VehicleOutputCtrl">
    <div class="row" ng-init="InitEdit()">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
				@using (Html.BeginForm())
				{
					<div class="ibox-title">  
						<h5>@Html.EditPageTitle("VehicleOutput")</h5>
						<div class="ibox-tools">
							@Html.SaveLinks()
						</div>
					</div>
					<div class="ibox-content">
						@Html.AntiForgeryToken()
							<div class="form-horizontal">
								@Html.ValidationSummary(true)
								<div class="form-group">
									<div class="col-md-2">
										@Html.LocalizedStyledLabel("VehicleOutput.UserType")
									</div>
									<div class="col-md-4">
										@Html.StyledDropDownListForEnum("UserType", typeof(UserType), Model.UserType)
										@Html.ValidationMessageFor(model => model.UserType)
									</div> 
									<div class="col-md-2">
										@Html.LocalizedStyledLabel("VehicleOutput.UsageType")
									</div>
									<div class="col-md-4">
										@Html.StyledDropDownListForEnum("UsageType", typeof(UsageType), Model.UsageType)
										@Html.ValidationMessageFor(model => model.UsageType)
									</div> 
								</div> 
								<div class="form-group">
									<div class="col-md-2">
										@Html.LocalizedStyledLabel("VehicleOutput.FinancialExpenses")
									</div>
									<div class="col-md-4">
										@Html.StyledDropDownList("FinancialExpensesId", Html.GetItems<ExpenseGroup>(), Model.FinancialExpensesId)
										@Html.ValidationMessageFor(model => model.FinancialExpenses)
									</div> 
									<div class="col-md-2">
										@Html.LocalizedStyledLabel("VehicleOutput.OperationalExpenses")
									</div>
									<div class="col-md-4">
										@Html.StyledDropDownList("OperationalExpensesId", Html.GetItems<ExpenseGroup>(), Model.OperationalExpensesId)
										@Html.ValidationMessageFor(model => model.OperationalExpenses)
									</div> 
								</div> 
								<div class="form-group">
									<div class="col-md-2">
										@Html.LocalizedStyledLabel("VehicleOutput.EstimatedSalePrice")
									</div>
									<div class="col-md-4">
										@Html.EditorFor(model => model.EstimatedSalePrice)
										@Html.ValidationMessageFor(model => model.EstimatedSalePrice)
									</div> 
									<div class="col-md-2">
										@Html.LocalizedStyledLabel("VehicleOutput.Tax")
									</div>
									<div class="col-md-4">
										@Html.EditorFor(model => model.Tax)
										@Html.ValidationMessageFor(model => model.Tax)
									</div> 
								</div> 
								<div class="form-group">
									<div class="col-md-2">
										@Html.LocalizedStyledLabel("VehicleOutput.CorporateTax")
									</div>
									<div class="col-md-4">
										@Html.EditorFor(model => model.CorporateTax)
										@Html.ValidationMessageFor(model => model.CorporateTax)
									</div> 
									<div class="col-md-2">
										@Html.LocalizedStyledLabel("VehicleOutput.TotalCost")
									</div>
									<div class="col-md-4">
										@Html.EditorFor(model => model.TotalCost)
										@Html.ValidationMessageFor(model => model.TotalCost)
									</div> 
								</div> 
							</div> 
					</div> 
				}
            </div> 
        </div> 
    </div> 
 </div> 

